html,
body {
    margin:0;
    padding:0;
    height:100%;
}
body {
    background-image: url('backgrounds/background.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Pixelify Sans", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body,
h1 {
    font-size: 100px;
}

@media only screen and (max-width: 635px){
    body,
    h1 {
        font-size: 80px;
    }
}

@media only screen and (max-width: 500px){
    body,
    h1 {
        font-size: 60px;
    }
}
input {
    border: none;
}

#search-form {
    font-family: "Pixelify Sans", serif;
}

#search{
    width: 60vw;
    height: 50px;
    background-color: #FFFF;
    border: 2px solid;
    border-color: #C8C8C8;
    border-radius: 50px;
    padding-left: 15px;
    font-family: inherit;
}
#submit {
    margin-left: -49px;
    font-family: inherit;
    border-radius: 100px;
    height: 35px;
    width: 35px;
}