html,
body {
    margin:0;
    padding:0;
    height:100%;
}
body {
    background-image: url('backgrounds/background.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Pixelify Sans", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
body,
h1 {
    font-size: 100px;
    margin: 0;
}

@media only screen and (max-width: 635px){
    body,
    h1 {
        font-size: 80px;
    }
}

@media only screen and (max-width: 500px){
    body,
    h1 {
        font-size: 60px;
    }
}
input {
    border: none;
}

#search-form {
    font-family: "Pixelify Sans", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 460px;
}

#search{
    width: 60vw;
    height: 50px;
    background-color: #FFFF;
    border: 2px solid;
    border-color: #C8C8C8;
    border-radius: 50px;
    padding-left: 15px;
    font-family: inherit;
}
#submit {
    margin-left: -45px;
    font-family: inherit;
    border-radius: 100px;
    height: 36px;
    width: 36px;
    background-color: #C8C8C8;
    cursor: pointer;
}

/* Results Styling */
#result-body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

#location-result {
    font-size: 52px;
    text-align: center;
}

#results {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card {
    background-color: #FFFF;
    width: 300px;
    height: 400px;
    padding: 40px 100px 60px 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    overflow:hidden;
    padding-top: 80px;
}

.card,
h3 {
    font-size: 32px;
    margin: 0;
    margin-bottom: -50px;
}

.card,
img {
    width: 80%;
    margin-bottom: -40px;
}

.temperature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
}

.temp,
.feelslike{
    font-size: 46px;
}

.feelslike {
    color: rgba(0, 0, 0, 0.5);
}